<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>this is a test</title>
	<link rel="stylesheet" href="../static/css/test.css" />

	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../static/js/test.js"></script>
	
</head>
<body>
	<div class="test">
		<ul>
			<li><a href="#">one</a></li>
			<li><a href="http://www.baidu.com">two</a> </li>
			<li><a href="#">three</a></li>
			<li><a href="#">four</a></li>
			<li><a href="#">five</a></li>
		</ul>
	</div>
	<br/>
	<div class="test2">
		<ul>
			<li><a href="#">one</a></li>
			<li><a href="http://www.baidu.com">two</a> </li>
			<li><a href="#">three</a></li>
			<li><a href="#">four</a></li>
			<li><a href="#">five</a></li>
		</ul>
	</div>
	<input type="button" name="addtr" value="addtrval">
	<input type="button" name="removetr" value="removetrval">

	<div>
		<table id="datagrid1" class="foo" border="1">
			<tr>
				<td>ok</td>
				<td>let</td>
				<td>ci</td>
				<td>go</td>
			</tr>
			<tr>
				<td>no</td>
				<td>pro</td>
				<td>blem</td>
				<td>ok?</td>
			</tr>
			<tr>
				<td>sorry</td>
				<td>lai</td>
				<td>ci</td>
				<td>gou</td>
			</tr>
		</table>
	</div>

	<div class="tdiv">okoklaicigou!</div>


</body>
</html>



